# Eclipse project files
.project
.classpath
.settings

# Geany project file
.geany
# KDevelop project file and directory
.kdev4/
*.kdev4

# Build targets
/target
**/target
/build
/out
**/out


#Log files
**/logs


# Mac-specific directory that no other operating system needs.
#.DS_Store
**/.DS_Store

# JVM crash logs
hs_err_pid*.log

#nodejs modules
**/node_modules

#bak file
*.bak

#project
*.pdb
*.pjb
*.bpb
*.cdb

.svn

#Idea project file and directory
.idea
**/*.iml

#gradle
/gradle
/.gradle
/gradlew
/gradlew.bat


**/package-lock.json